._faircontentblogwhicht {
  padding-left: 10px !important;
  padding-right: 10px !important;
}


.navigator-text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111;
}

.navigator-text .active {
    font-weight: bold;
}


h1.title {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
}

h2.title {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: justify; */
    color: #111;
}

#news-detail {}

#news-detail h1 {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: justify; */
    color: #111;
}

@media (max-width: 575px) {
    #news-detail img {
        width:100%;
        height:auto;
    }
}

.navigator-text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111;
}

.navigator-text .active {
    font-weight: bold;
}


h1.title {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
}



#search-exhibitor-list {

    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #378dd7, #378dd7);
}

#search-exhibitor-list .input-group {
    border-radius: 6px;
    border: solid 1px #fff;
    background-color: #fff;
}


#search-exhibitor-list #search .form-control,
#search-exhibitor-list #search .form-select {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #378dd7;

}

#search-exhibitor-list #search .form-select {
    background-image: url('<?=ROOTPATHDOMAIN?>assets/images/icon-chevron-down-blue.svg');
}

#search-exhibitor-list #search .btn-search {
    background-color: #378dd7 !important;
    border-color: #378dd7 !important;
}

#search-exhibitor-list #search .btn-search .bi {
    font-size: 20px;
}

#search-exhibitor-list #search .btn-search .bi:before {
    font-weight: bold !important;
}

@media (max-width: 575px) {
    .search-area {
        margin-top: -105px !important;
    }
}

.search-area .form-select {
    border: none !important;
    background: none !important;
    padding: 0;
    margin-right: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

#search-exhibitor-list #search .form-select.type-exhibitors {
    font-size: 20px;
}

.search-area .dropdown-toggle {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    height: auto;
    border-radius: 7px;
    background-color: #fba91e !important;
    border: none !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    /* padding: 0.3rem 1rem 0.3rem 1rem; */
    padding-left: 11px !important;
    padding-right: 11px !important;
    outline: none !important;

}

.bootstrap-select .dropdown-menu li a span.text {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    outline-offset: inherit;
}

.search-area .bg-green {
    height: 28px;
    border-radius: 7px;
    background-color: none !important;
    border: none !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    padding: 0.1rem 1rem 0.3rem 1rem;
    background-color: #659a83 !important;
}


#company-list {
    position: relative;
}

#company-list .nav-link {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
}

#company-list .nav-link.active {
    background-color: #378dd7;
    color: #fff;
}

#company-list .nav-tabs .nav-item {
    z-index: 2;
}

#myTabContent {
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    z-index: 1;
    margin-top: 0px;
    position: relative;
    border-end-end-radius: 0.75em;
    border-end-start-radius: 0.75em;
}

#myTabContent .tab-title {
    background-color: #378dd7;
}

#myTabContent .tab-title .form-check-label {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-left: 1.5rem;
}

#myTabContent .tab-title .total-1 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

#myTabContent .tab-title .total-right {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

#myTabContent .tab-title .total-right input {
    border-radius: 6px;
    border: solid 1px #378dd7 !important;
    background-color: #fff;
    width: 50px;
    text-align: center;
    outline: none;
}

#myTabContent .tab-title .total-right .bi {
    font-size: 14px;
    line-height: 1;
}

#myTabContent .tab-title .total-right .bi.disable {
    opacity: 0.14;
}

#myTabContent .tab-title .total-right .bi:before {
    font-weight: bold;
}

.checkbox-list-company .list-group-item {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.checkbox-list-company .list-group-item .title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.checkbox-list-company .list-group-item .form-check-input {
    border: solid 1px #378dd7;
}

#titleCheckDefault {
    width: 0.8em;
    height: 0.8em;
    border: solid 1px #378dd7;
}



.btn-all-category {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff !important;
    border-radius: 14px;
    border: none !important;
}

@media (max-width: 1399px) {
  ._homebanner_bgheight {
    height: 280px;
  }

  #aboutFairCarousel .carousel-item {
      height: 280px !important;
      border-radius: 30px !important;
  }
}

@media (max-width: 1199px) {
  ._homebanner_bgheight {
    height: 280px;
  }

  #aboutFairCarousel .carousel-item {
      height: 280px !important;
      border-radius: 30px !important;
  }

}

@media (max-width: 991px) {

  .search-area {
      margin-top: 0 !important;
  }


  ._homebanner_bgheight {
    height: 210px;
    border-radius: 20px !important;
  }

  #aboutFairCarousel .carousel-item {
    height: 210px !important;
    border-radius: 20px !important;
  }

  .newsbanner_bgblog {
    border-radius: 20px !important;
  }


}

@media (max-width: 767px) {
  ._homebanner_bgheight {
    height: 180px;
    border-radius: 20px !important;
  }

}

@media (max-width: 575px) {
  ._homebanner_bgheight {
    height: 120px;
    border-radius: 15px !important;
  }

  #fair-calendar-title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #pre-registion-title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  /* .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
    float: none !important;
    margin-bottom: 8px;
  } */

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 102px !important;
  }

  .search-area {
    text-align: center;
  }

  #aboutFairCarousel .carousel-item {
    height: 120px !important;
    border-radius: 15px !important;
  }

  .newsbanner_bgblog {
    border-radius: 15px !important;
  }


}

@media (max-width: 375px) {

  ._homebanner_bgheight {
    height: 120px;
    border-radius: 15px !important;
  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 97px !important;
  }

  #aboutFairCarousel .carousel-item {
    height: 120px !important;
    border-radius: 15px !important;
  }

  .newsbanner_bgblog {
    border-radius: 15px !important;
  }

}
